.portfolioBlock {
  // margin-top: 9.1rem;
  width: 100%;
  overflow: hidden;
  padding-bottom: 1rem;
}

.container {
}

.title {
  color: $grey;
  // font-family: $circeBold;
  @include robotoMid();
  font-size: 9rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.logos {
}

.logoRow {
  display: flex;
}

.runnigRow {
  display: flex;
  // animation: run 60s linear -1s infinite;
}

.marquee {
  height: 8rem;
  z-index: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.logoItem {
  height: 6rem;
  margin-left: 4.45rem;
  filter: grayscale(1);
  transition: transform 0.15s ease-in-out, filter 0.15s ease-in-out;
  display: block;

  &:hover {
    filter: none;
    transform: scale(1.15);
  }

  & img {
    height: 100%;
    width: auto;
  }
}

.up {
}
.down {
  margin-top: 2rem;
  & .runnigRow {
    animation-direction: reverse;
  }
}

@keyframes run {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@media screen and (max-width: $mobileSize) {
  .logoItem {
    height: 8rem;
    margin-left: 4.45rem;
  }

  .portfolioBlock {
    margin-top: 12rem;
  }
}
