.portfolio {
  margin-top: 9.44rem;
}

@media screen and (min-width: $bigScreen) {
  .title {
    padding: 0 $bigScreenLayoutPadding;
  }
}

@media screen and (max-width: $mobileSize) {
  .title {
    padding: 0 $mobileLayoutPadding;
  }
}

.title {
  font-family: $circeBold;
  color: $black;
  font-size: 4.51rem;
  text-decoration: underline;
  text-decoration-color: $orange;
  text-decoration-thickness: 0.21rem;
  text-underline-offset: 0.6rem;
  padding: 0 $layoutPadding;
}

.logos {
  padding: 0 4.24rem;
  margin-top: 6.38rem;
}

.logosContainer {
  padding: 4.03rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 0.14rem solid $orange;
  row-gap: 7.43rem;
}

.logoItem {
  max-height: 5rem;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: $mobileSize) {
  .title {
    font-size: 7rem;
    text-decoration-thickness: 0.6rem;
    text-underline-offset: 1rem;
  }

  .logoItem {
    max-height: 5rem;
    width: 37rem;
  }
}