.operateBlock {
  margin-top: 15.55rem;
  padding-left: $layoutPadding;
  padding-right: $layoutPadding;
  // max-width: $contentWidth;
}

@media screen and (min-width: $bigScreen) {
  .operateBlock {
    padding: 0 $bigScreenLayoutPadding;
  }
}

@media screen and (max-width: $mobileSize) {
  .operateBlock {
    padding: 0 $mobileLayoutPadding;
    max-width: unset;
  }
}

.content {
}

.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: stretch;
}

.line {
  // height: 100%;
  width: .2rem;
  background: $orange;
}

.topTitle {
  position: relative;
  color: $black;
  font-family: $circeBold;
  font-size: 8.68rem;
  width: 50%;
  text-transform: uppercase;
  line-height: 1;
  max-width: 50rem;

  // &:after {
  //   position: absolute;
  //   content: '';
  //   right: -5rem;
  //   top: 0;
  //   height: 100%;
  //   width: .2rem;
  //   background: $orange;
  // }
}

.topDesc {
  width: 50%;
  font-size: 2.43rem;
  font-family: $circe;
  max-width: 50rem;
  padding-left: 4rem;
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.16rem;
}

@media screen and (max-width: $mobileSize) {
  .operateBlock {
    margin-top: 12rem;
  }

  .top {
    flex-direction: column;
    align-items: center;
  }


  .topDesc {
    width: 100%;
    font-size: 4rem;
    max-width: unset;
    margin-top: 3rem;
  }

  .topTitle {
    font-size: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: unset;
  }

  .line {
    height: 2px;
    width: 50rem;
    margin-top: 3rem;
    background: $orange;
  }

  .cards {
    flex-direction: column;
  }
}