.titleBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.titleContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

.title {
  font-size: 12rem;
  color: $orange;
  text-transform: uppercase;
  font-family: $circeExtraBold;
  line-height: 0.9;
}

.upperRow {
  display: block;
}

.upperRowTitle {
  display: block;
}

.lowerRow{
  display: flex;
  align-items: center;
}

.lowerRowTitle {}

.lowerRowDescription {
  font-family: $circe;
  font-size: 3rem;
  max-width: 27.6rem;
  transform: translateY(-0.5rem);
  text-transform: uppercase;
  margin-left: 2.7rem;
  line-height: 1.35;
}

.link {
  display: flex;
  align-items: center;
  margin-top: 1.8rem;
  margin-left: auto;
  margin-right: 3.5rem;

  &:hover {
    svg {
      transform: scaleX(1.2);
    }
  }
}

.linkText {
  font-size: 2.43rem;
  font-family: $circe;
  color: $black;
}

.linkArrow {
  width: 4.39rem;
  margin-left: 1.32rem;
  margin-top: 0.3rem;
  & svg {
    width: 100%;
    transition: transform 0.2s $transitionFunc;
    transform-origin: 0;
  }
}

@media screen and (max-width: $mobileSize) {
  .titleContent {
    margin-top: 12rem;
  }

  .title {
    font-size: 11rem;
  }

  .lowerRowDescription {
    font-size: 2.8rem;
    max-width: 25.4rem;
    line-height: 1.2;
  }

  .linkText {
    font-size: 4.2rem;
  }
}