.latestNews {
  padding-left: $layoutPadding;
  padding-right: $layoutPadding;
  margin-top: 7.9rem;
  width: 100%;
  max-width: $contentWidth;
}

@media screen and (min-width: $bigScreen) {
  .latestNews {
    padding: 0 $bigScreenLayoutPadding;
  }
}

@media screen and (max-width: $mobileSize) {
  .latestNews {
    padding: 0 $mobileLayoutPadding;
    max-width: unset;
    width: unset;
  }
  
  .newsImage {
    width: 16.53rem;
    height: 12.5rem;
  }
}

.title {
  // font-family: $circeBold;
  @include robotoMid();
  font-size: 8.68rem;
  color: $black;
  text-transform: uppercase;
}

.news {
  margin-top: 1.25rem;
  width: 100%;
}

.newsItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  transition: background-color .3s ease-in-out;
  
  &:not(:first-of-type) {
    margin-top: 6.53rem;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      top: -3.25rem;
      left: 0;
      width: 57rem;
      height: 0.2rem;
      background: $orange;
    }
  }

  &:hover {
    background-color: $orangeWhite;
  }
}

.newsText {
  width: 70.8rem;
  // font-family: $circe;
  @include robotoLight();
  color: $black;
  font-size: 2.43rem;
}

.newsImage {
  width: 16.53rem;
  height: 12.5rem;
}


@media screen and (max-width: $mobileSize) {

  .latestNews {
    margin-top: 12rem;
  }

  .title {
    font-size: 9.8rem;
  }

  .newsText {
    font-size: 4rem;
    width: 75rem;
  }
}