.blog {
  padding: 0 $layoutPadding;
  margin-top: 9.24rem;
}

@media screen and (min-width: $bigScreen) {
  .blog {
    padding: 0 $bigScreenLayoutPadding;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  row-gap: 5.5rem;
  max-width: $contentWidth;
}

.articleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articleText {
  width: 50.07rem;
}

.articleTitle {
  font-family: $circeExtraBold;
  font-size: 4.51rem;
  color: $orange;
  text-transform: uppercase;
  line-height: 1;
}

.articleImage {
  width: 29.86rem;
  height: 29.86rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  & img {
    width: 100%;
    height: auto;
  }
}

.articleDesc {
  font-family: $circe;
  color: $black;
  margin-top: 3.23rem;
  font-size: 2.43rem;
}