.card {
  width: 24rem;
  &.mainPage {
    width: 30rem;
  }
}

.image {
  width: 100%;
  height: 22.3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & img {
    width: 100%;
    height: auto;
  }
}

.title {
  font-family: $circeExtraBold;
  @include robotoBold();
  font-size: 2.43rem;
  text-transform: uppercase;
  .mainPage & {
    font-size: 2rem;
  }
}

.topTitle {
  color: $black;
}

.bottomTitle {
  color: $orange;
  margin-top: 4.5rem;
}

.desc {
  // font-family: $circe;
  @include robotoLight();
  font-size: 2.43rem;
  color: $black;
  margin-top: 0.7rem;
  .mainPage & {
    font-size: 2rem;
  }
}

@media screen and (max-width: $mobileSize) {
  .desc {
    font-size: 3rem;
    .mainPage & {
      font-size: 4rem;
    }
  }

  .title {
    font-size: 3rem;
    .mainPage & {
      font-size: 5rem;
    }
  }

  .card {
    &.mainPage {
      width: 100%;
      & .image {
        height: 45rem;
      }
      &:not(:first-of-type) {
        margin-top: 10rem;
      }
      &:first-of-type {
        margin-top: 15rem;
      }
    }
  }
}
