.card {
  position: relative;
  width: 24rem;
  cursor: pointer;
  &.mainPage {
    width: 30rem;
    cursor: auto;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 22.3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & img {
    width: 100%;
    height: auto;
    filter: grayscale(1) brightness(0.7);
    transition: transform .15s ease-in-out, filter .15s ease-in-out;

    .mainPage & {
      filter: none;
    }
  }
}

.title {
  position: relative;
  font-family: $circeExtraBold;
  @include robotoBold();
  font-size: 2.43rem;
  text-transform: uppercase;
  .mainPage & {
    font-size: 2rem;
  }
}

.topTitle {
  position: relative;
  color: $black;
}

.bottomTitle {
  position: relative;
  color: $orange;
  margin-top: 4.5rem;
}

.desc {
  position: relative;
  // font-family: $circe;
  @include robotoLight();
  font-size: 2.43rem;
  color: $black;
  margin-top: 0.7rem;
  .mainPage & {
    font-size: 2rem;
  }
}

.backgroundHover {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 0;
  background: $orangeWhite;
  transition: opacity .3s ease-in-out, border-color .3s ease-in-out;

  .card:hover & {
    opacity: 0.5;
  }

  .mainPage & {
    display: none;
  } 
}

@media screen and (max-width: $mobileSize) {
  .desc {
    font-size: 3rem;
    .mainPage & {
      font-size: 4rem;
    }
  }

  .title {
    font-size: 3rem;
    .mainPage & {
      font-size: 5rem;
    }
  }

  .card {
    &.mainPage {
      width: 100%;
      & .image {
        height: 45rem;
      }
      &:not(:first-of-type) {
        margin-top: 10rem;
      }
      &:first-of-type {
        margin-top: 15rem;
      }
    }
  }
}
