.firstScreen {
  height: calc(100vh - 9.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 87rem;
  min-height: 60rem;
}

@media only screen and (max-width: $mobileSize) {
  .firstScreen {
    min-height: unset;
    max-height: unset;
    height: auto;
  }
}