.team {
  margin-top: 7.29rem;
  padding-left: $layoutPadding;
  padding-right: $layoutPadding;
}

@media screen and (min-width: $bigScreen) {
  .team {
    padding: 0 $bigScreenLayoutPadding;
  }
}

@media screen and (max-width: $mobileSize) {
  .team {
    padding: 0 $mobileLayoutPadding;
  }
}

.title {
  color: $orange;
  font-size: 8.68rem;
  // font-family: $circeExtraBold;
  @include robotoBold();
  text-transform: uppercase;
  margin-bottom: 3.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3.33rem;
}

.cardsItem {
}

.lastCard {
  width: 24.6rem;
  margin-top: 5.29rem;
}

.lastCardTitle {
  // font-family: $circeBold;
  @include robotoMid();
  font-size: 4.51rem;
  color: $orange;
  text-transform: uppercase;
}

.lastCardDescription {
  // font-family: $circe;
  @include robotoLight();
  font-size: 2.43rem;
  color: $black;
  margin-top: .7rem;
}

@media screen and (max-width: $mobileSize) {
  .lastCardDescription {
    font-size: 3rem;
  }

  .cardsItem {
  }
}