.team {
  margin-top: 7.29rem;
  padding-left: $layoutPadding;
  padding-right: $layoutPadding;
}

@media screen and (min-width: $bigScreen) {
  .team {
    padding: 0 $bigScreenLayoutPadding;
  }
}

.title {
  color: $orange;
  font-size: 8.68rem;
  // font-family: $circeExtraBold;
  @include robotoBold();
  text-transform: uppercase;
  margin-bottom: 3.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 3.33rem;
  column-gap: 5rem;
}

.cardsItem {
  width: 25rem;
}

.lastCard {
  width: 90.6rem;
  margin-top: 5.29rem;
  margin-bottom: 10rem;
}

.lastCardTitle {
  // font-family: $circeBold;
  @include robotoLight();
  font-size: 2.31rem;
  color: $black;
}

.lastCardDescription {
  // font-family: $circe;
  @include robotoLight();
  font-size: 2.43rem;
  color: $black;
  margin-top: .7rem;

}

@media screen and (max-width: $mobileSize) {
  .lastCardDescription {
    font-size: 3rem;
  }

  .team {
    padding: 0 $mobileLayoutPadding;
  }

  .lastCardTitle {
    font-size: 4rem;
  }
}