@font-face {
  font-family: "Circe";
  src: url("../src/assets/fonts/Circe/Circe.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../src/assets/fonts/Raleway/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RalewayExtraLight";
  src: url("../src/assets/fonts/Raleway/Raleway-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
