// @import '../src/components/BlogPage/BlogPage.module.scss';
// @import '../src/components/PortfolioPage/PortfolioPage.module.scss';
// @import '../src/components/Footer/Footer.module.scss';
// @import '../src/components/Header/Header.module.scss';
// @import '../src/components/InfoCard/InfoCard.module.scss';
// @import '../src/components/LatestNews/LatestNews.module.scss';
// @import '../src/components/OperateBlock/OperateBlock.module.scss';
// @import '../src/components/PortfolioBlock/PortfolioBlock.module.scss';
// @import '../src/components/TeamPage/TeamPage.module.scss';
// @import '../src/components/TitleBlock/TitleBlock.module.scss';

body {
  margin: 0;
}

html {
  font-size: 12.8px;
}

a {
  text-decoration: none;
}

.page-container {
  // min-height: 100vh;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $white;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  & circle {
    stroke-dasharray: 20;
    // transition: stroke-dasharray .3s ease-in-out;
    stroke-dashoffset: 1000;
    animation: dash 3s linear infinite;
  }

  &.done {
    opacity: 0;
    transform: translateY(30%);
  }

  & svg {
    transition: transform 3s ease-in-out;
  }

  &.loaded {
    & svg {
      // transform: rotateZ(-360deg);
      transform-origin: 50% 50%;
    }
    & circle {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: complete 1s linear;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 600;
  }
}

@keyframes complete {
  to {
    stroke-dashoffset: 0;
  }
}


@media screen and (max-width: $mobileSize) {
  html {
    font-size: 1vw;
  }

  .page-container {
    min-height: 50vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  html {font-size: 7px;}
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  html {font-size: 8px;}
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  html {font-size: 9px;}
}

@media screen and (min-width: 1301px) and (max-width: 1400px) {
  html {font-size: 9.5px;}
}

@media screen and (min-width: 1401px) and (max-width: 1600px) {
  html {font-size: 10px;}
}

@media screen and (min-width: 1601px) and (max-width: 1900px) {
  html {font-size: 11px;}
}

@media screen and (min-width: 1901px) and (max-width: 2100px) {
  html {font-size: 12px;}
}

@media screen and (min-width: 2101px) and (max-width: 2500px) {
  html {font-size: 13px;}
}

@media screen and (min-width: 2501px) {
  html {font-size: 14px;}
}

