// @import '../src/components/BlogPage/BlogPage.module.scss';
// @import '../src/components/PortfolioPage/PortfolioPage.module.scss';
// @import '../src/components/Footer/Footer.module.scss';
// @import '../src/components/Header/Header.module.scss';
// @import '../src/components/InfoCard/InfoCard.module.scss';
// @import '../src/components/LatestNews/LatestNews.module.scss';
// @import '../src/components/OperateBlock/OperateBlock.module.scss';
// @import '../src/components/PortfolioBlock/PortfolioBlock.module.scss';
// @import '../src/components/TeamPage/TeamPage.module.scss';
// @import '../src/components/TitleBlock/TitleBlock.module.scss';

body {
  margin: 0;
}

html {
  font-size: 70%;
}

a {
  text-decoration: none;
}

.page-container {
  min-height: 100vh;
}

@media screen and (max-width: $mobileSize) {
  .page-container {
    min-height: 50vh;
  }
}

