@import './fonts.scss';

$layoutPadding: 10rem;
$bigScreenLayoutPadding: 25rem;
$mobileLayoutPadding: 4rem;

$circe: 'Circe';
$circeBold: 'CirceBold';
$circeExtraBold: 'CirceExtraBold';
$ralewayReg: 'RalewayRegular';
$ralewayLight: 'RalewayExtraLight';

$black: #000000;
$orange: #F25B19;
$grey: #D9D9D9;
$white: #fff;

$transitionFunc: cubic-bezier(.5,.16,.26,.97);

$mobileSize: 600px;
$bigScreen: 1600px;

$contentWidth: 100rem;